### ============================RANDOM _FOREST=========================================

#### Random is a techique useto increase the stability ,handle the outfitting ,reduce Variance,parallel classifier

### ============================FRAUD_CHECK===========================================

In [1]:
import pandas as pd
import numpy as np

In [2]:
fraud=pd.read_csv("Fraud_check.csv")

In [3]:
fraud

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO
...,...,...,...,...,...,...
595,YES,Divorced,76340,39492,7,YES
596,YES,Divorced,69967,55369,2,YES
597,NO,Divorced,47334,154058,0,YES
598,YES,Married,98592,180083,17,NO
599,NO,Divorced,96519,158137,16,NO

In [4]:
fraud.describe()

       Taxable.Income  City.Population  Work.Experience
count      600.000000       600.000000       600.000000
mean     55208.375000    108747.368333        15.558333
std      26204.827597     49850.075134         8.842147
min      10003.000000     25779.000000         0.000000
25%      32871.500000     66966.750000         8.000000
50%      55074.500000    106493.500000        15.000000
75%      78611.750000    150114.250000        24.000000
max      99619.000000    199778.000000        30.000000

In [95]:
fraud.shape

(600, 7)

In [96]:
fraud.isna().sum()

Undergrad          0
Marital.Status     0
Taxable.Income     0
City.Population    0
Work.Experience    0
Urban              0
TaxInc             0
dtype: int64

In [97]:
fraud.dtypes

Undergrad            object
Marital.Status       object
Taxable.Income        int64
City.Population       int64
Work.Experience       int64
Urban                object
TaxInc             category
dtype: object

In [6]:
fraud["TaxInc"]=pd.cut(fraud["Taxable.Income"],bins=[10002,30000,99620],labels=["Risky","Good"])

In [7]:
fraud["TaxInc"]

0      Good
1      Good
2      Good
3      Good
4      Good
       ...
595    Good
596    Good
597    Good
598    Good
599    Good
Name: TaxInc, Length: 600, dtype: category
Categories (2, object): ['Risky' < 'Good']

In [8]:
fraud

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban,TaxInc
0,NO,Single,68833,50047,10,YES,Good
1,YES,Divorced,33700,134075,18,YES,Good
2,NO,Married,36925,160205,30,YES,Good
3,YES,Single,50190,193264,15,YES,Good
4,NO,Married,81002,27533,28,NO,Good
...,...,...,...,...,...,...,...
595,YES,Divorced,76340,39492,7,YES,Good
596,YES,Divorced,69967,55369,2,YES,Good
597,NO,Divorced,47334,154058,0,YES,Good
598,YES,Married,98592,180083,17,NO,Good
599,NO,Divorced,96519,158137,16,NO,Good

In [98]:
Fraud=pd.get_dummies(fraud.drop(columns=["TaxInc"]))
Fraud

,Taxable.Income,City.Population,Work.Experience,Undergrad_NO,Undergrad_YES,Marital.Status_Divorced,Marital.Status_Married,Marital.Status_Single,Urban_NO,Urban_YES
0,68833,50047,10,1,0,0,0,1,0,1
1,33700,134075,18,0,1,1,0,0,0,1
2,36925,160205,30,1,0,0,1,0,0,1
3,50190,193264,15,0,1,0,0,1,0,1
4,81002,27533,28,1,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...
595,76340,39492,7,0,1,1,0,0,0,1
596,69967,55369,2,0,1,1,0,0,0,1
597,47334,154058,0,1,0,1,0,0,0,1
598,98592,180083,17,0,1,0,1,0,1,0
599,96519,158137,16,1,0,1,0,0,1,0

In [100]:
FC=pd.concat([Fraud,fraud['TaxInc']],axis=1)
FC

,Taxable.Income,City.Population,Work.Experience,Undergrad_NO,Undergrad_YES,Marital.Status_Divorced,Marital.Status_Married,Marital.Status_Single,Urban_NO,Urban_YES,TaxInc
0,68833,50047,10,1,0,0,0,1,0,1,Good
1,33700,134075,18,0,1,1,0,0,0,1,Good
2,36925,160205,30,1,0,0,1,0,0,1,Good
3,50190,193264,15,0,1,0,0,1,0,1,Good
4,81002,27533,28,1,0,0,1,0,1,0,Good
...,...,...,...,...,...,...,...,...,...,...,...
595,76340,39492,7,0,1,1,0,0,0,1,Good
596,69967,55369,2,0,1,1,0,0,0,1,Good
597,47334,154058,0,1,0,1,0,0,0,1,Good
598,98592,180083,17,0,1,0,1,0,1,0,Good
599,96519,158137,16,1,0,1,0,0,1,0,Good

In [11]:
colnames=list(FC.columns)

In [12]:
colnames

['Taxable.Income',
 'City.Population',
 'Work.Experience',
 'Undergrad_NO',
 'Undergrad_YES',
 'Marital.Status_Divorced',
 'Marital.Status_Married',
 'Marital.Status_Single',
 'Urban_NO',
 'Urban_YES',
 'TaxInc']

In [13]:
predictors=colnames[:9]

In [14]:
predictors

['Taxable.Income',
 'City.Population',
 'Work.Experience',
 'Undergrad_NO',
 'Undergrad_YES',
 'Marital.Status_Divorced',
 'Marital.Status_Married',
 'Marital.Status_Single',
 'Urban_NO']

In [15]:
target=colnames[9]

In [16]:
target

'Urban_YES'

In [17]:
X=FC[predictors]

In [18]:
X.shape

(600, 9)

In [19]:
Y=FC[target]

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size = 0.20,random_state=40)

In [22]:
from sklearn.preprocessing import StandardScaler

In [23]:
SC=StandardScaler()

In [24]:
X_train=SC.fit_transform(X_train)

In [25]:
X_test=SC.transform(X_test)

In [26]:
from sklearn.ensemble import RandomForestClassifier

In [27]:
Classifier =RandomForestClassifier(n_estimators=10,criterion='entropy',random_state=40)

In [28]:
Classifier.fit(X_train,Y_train)

RandomForestClassifier(criterion='entropy', n_estimators=10, random_state=40)

In [104]:
Classifier.score(X_train,Y_train)

1.0

In [30]:
y_pred=Classifier.predict(X_test)

In [31]:
y_pred

array([0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0,
       0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 1], dtype=uint8)

In [32]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [33]:
cm=confusion_matrix(Y_test,y_pred)

In [34]:
print(cm)

[[58  0]
 [ 0 62]]

In [35]:
accuracy_score(Y_test,y_pred)

1.0

In [36]:
Classifier=RandomForestClassifier(n_estimators=100,criterion='gini')

In [37]:
Classifier.fit(X_train,Y_train)

RandomForestClassifier()

### =======================================================================================

### ============================COMPANY _DATA===========================================

In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier

In [39]:
company=pd.read_csv("Company_Data.csv")

In [40]:
company

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes

In [41]:
company.shape

(400, 11)

In [42]:
company.isnull().sum()

Sales          0
CompPrice      0
Income         0
Advertising    0
Population     0
Price          0
ShelveLoc      0
Age            0
Education      0
Urban          0
US             0
dtype: int64

In [43]:
company.describe()

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,7.496325,124.975000,68.657500,6.635000,264.840000,115.795000,53.322500,13.900000
std,2.824115,15.334512,27.986037,6.650364,147.376436,23.676664,16.200297,2.620528
min,0.000000,77.000000,21.000000,0.000000,10.000000,24.000000,25.000000,10.000000
25%,5.390000,115.000000,42.750000,0.000000,139.000000,100.000000,39.750000,12.000000
50%,7.490000,125.000000,69.000000,5.000000,272.000000,117.000000,54.500000,14.000000
75%,9.320000,135.000000,91.000000,12.000000,398.500000,131.000000,66.000000,16.000000
max,16.270000,175.000000,120.000000,29.000000,509.000000,191.000000,80.000000,18.000000

In [44]:
company.dtypes

Sales          float64
CompPrice        int64
Income           int64
Advertising      int64
Population       int64
Price            int64
ShelveLoc       object
Age              int64
Education        int64
Urban           object
US              object
dtype: object

In [45]:
from sklearn import preprocessing

In [46]:
label_encoder=preprocessing.LabelEncoder()

In [47]:
company["ShelveLoc"]=label_encoder.fit_transform(company["ShelveLoc"])

In [48]:
company["US"]=label_encoder.fit_transform(company["US"])

In [49]:
company["Urban"]=label_encoder.fit_transform(company["Urban"])

In [50]:
company

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,0,42,17,1,1
1,11.22,111,48,16,260,83,1,65,10,1,1
2,10.06,113,35,10,269,80,2,59,12,1,1
3,7.40,117,100,4,466,97,2,55,14,1,1
4,4.15,141,64,3,340,128,0,38,13,1,0
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,1,33,14,1,1
396,6.14,139,23,3,37,120,2,55,11,0,1
397,7.41,162,26,12,368,159,2,40,18,1,1
398,5.94,100,79,7,284,95,0,50,12,1,1
399,9.71,134,37,0,27,120,1,49,16,1,1

In [51]:
featurecols=['CompPrice','Income','Advertising','Population','Price','ShelveLoc','Age','Education','Urban','US']

In [52]:
company["High"]=company.Sales.map(lambda x:1 if x>8 else 0)

In [53]:
company

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,High
0,9.50,138,73,11,276,120,0,42,17,1,1,1
1,11.22,111,48,16,260,83,1,65,10,1,1,1
2,10.06,113,35,10,269,80,2,59,12,1,1,1
3,7.40,117,100,4,466,97,2,55,14,1,1,0
4,4.15,141,64,3,340,128,0,38,13,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,1,33,14,1,1,1
396,6.14,139,23,3,37,120,2,55,11,0,1,0
397,7.41,162,26,12,368,159,2,40,18,1,1,0
398,5.94,100,79,7,284,95,0,50,12,1,1,0
399,9.71,134,37,0,27,120,1,49,16,1,1,1

In [54]:
x=company.drop(['Sales','High'],axis=1)

In [55]:
x=company[featurecols]

In [56]:
y=company.High

In [57]:
print(x)

     CompPrice  Income  Advertising  Population  Price  ShelveLoc  Age  \
0          138      73           11         276    120          0   42
1          111      48           16         260     83          1   65
2          113      35           10         269     80          2   59
3          117     100            4         466     97          2   55
4          141      64            3         340    128          0   38
..         ...     ...          ...         ...    ...        ...  ...
395        138     108           17         203    128          1   33
396        139      23            3          37    120          2   55
397        162      26           12         368    159          2   40
398        100      79            7         284     95          0   50
399        134      37            0          27    120          1   49

     Education  Urban  US
0           17      1   1
1           10      1   1
2           12      1   1
3           14      1   1
4           13      1   0
..         ...    ...  ..
395         14      1   1
396         11      0   1
397         18      1   1
398         12      1   1
399         16      1   1

[400 rows x 10 columns]

In [58]:
print(y)

0      1
1      1
2      1
3      0
4      0
      ..
395    1
396    0
397    0
398    0
399    1
Name: High, Length: 400, dtype: int64

In [59]:
from sklearn.model_selection import train_test_split

In [86]:
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.25,random_state=40)

In [87]:
print(x_test)

     CompPrice  Income  Advertising  Population  Price  ShelveLoc  Age  \
132        125      87            9         232    136          1   72
390        108      75            9          61    111          2   67
310        175      65           29         419    166          2   53
3          117     100            4         466     97          2   55
248        111      52            0          12    101          2   61
..         ...     ...          ...         ...    ...        ...  ...
27          98     118            0          19    107          2   64
183        118      74            6         426    102          2   80
157        121      58            8         249     90          2   48
129        143     120            7         279    147          0   40
279        141      57           13         376    158          2   64

     Education  Urban  US
132         10      1   1
390         12      1   1
310         12      1   1
3           14      1   1
248         11      1   1
..         ...    ...  ..
27          17      1   0
183         18      1   1
157         13      0   1
129         10      0   1
279         18      1   1

[100 rows x 10 columns]

In [62]:
print(y_test)

132    1
390    0
310    1
3      0
248    0
      ..
27     0
183    0
157    1
129    0
279    0
Name: High, Length: 100, dtype: int64

In [63]:
print(x_train)

     CompPrice  Income  Advertising  Population  Price  ShelveLoc  Age  \
189        118     117           18         509    104          2   26
396        139      23            3          37    120          2   55
299        135      40           17         497     96          2   54
347         96      39            0         161    112          1   27
282        150      96            0          80    154          1   61
..         ...     ...          ...         ...    ...        ...  ...
306        131      32            1          85    133          2   48
165        147      58            7         100    191          0   27
7          136      81           15         425    120          1   67
219        116      79           19         359    116          1   58
326        133      30            0         152    122          2   53

     Education  Urban  US
189         15      0   1
396         11      0   1
299         17      0   1
347         14      0   0
282         11      1   0
..         ...    ...  ..
306         12      1   1
165         15      1   1
7           10      1   1
219         17      1   1
326         17      1   0

[300 rows x 10 columns]

In [64]:
print(y_train)

189    1
396    0
299    1
347    0
282    0
      ..
306    0
165    0
7      1
219    1
326    0
Name: High, Length: 300, dtype: int64

In [65]:
from sklearn.preprocessing import StandardScaler

In [66]:
SC=StandardScaler()

In [67]:
x_train=SC.fit_transform(x_train)

In [68]:
x_test=SC.transform(x_test)

In [69]:
from sklearn.ensemble import RandomForestClassifier

In [88]:
classifier=RandomForestClassifier(n_estimators=50,criterion='entropy',random_state=40)
classifier.fit(x_train,y_train)

RandomForestClassifier(criterion='entropy', n_estimators=50, random_state=40)

In [89]:
classifier.fit(x_train,y_train)

RandomForestClassifier(criterion='entropy', n_estimators=50, random_state=40)

In [90]:
classifier.score(x_test,y_test)

0.84

In [91]:
y_pred=classifier.predict(x_test)

In [92]:
y_pred

array([0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0], dtype=int64)

In [93]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [94]:
CM=confusion_matrix(y_test,y_pred)
print(CM)

[[60  6]
 [10 24]]

In [77]:
accuracy_score(y_test,y_pred)

0.85

In [78]:
classifier=RandomForestClassifier(n_estimators=100,criterion='gini')

In [79]:
classifier.fit(x_test,y_test)

RandomForestClassifier()

In [80]:
classifier.score(x_test,y_test)

1.0